@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MedievalSharp', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --cor-primaria-texto: #8C0B23;
  --cor-secundaria-texto: #72534E;
  --cor-fundo: #F6E7A2;
  --cor-bordas: #C5B589;
  --cor-fundo-botao: #F2A172;
  font-size: 14px;
}