.input__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.input__text {
    color: var(--cor-secundaria-texto);
    background-color: var(--cor-fundo);
    font-family: inherit;
    width: 60%;
    max-width: 300px;
    padding: 0.5rem;
    border: solid 2px var(--cor-bordas);
    border-radius: 15px;
}

.input__label {
    color: var(--cor-primaria-texto);
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.button__submit {
    color: var(--cor-primaria-texto);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    max-width: 50%;
    font-family: inherit;
    border: solid 3px var(--cor-primaria-texto);
    border-radius: 15px;
    background-color: var(--cor-fundo-botao);
}